/* .login-error-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .login-error-modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 300px;
  }
  
  .login-error-modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .login-error-modal-content p {
    margin-bottom: 1.5rem;
  }
  
  .login-error-modal-close-btn {
    background-color: #000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .login-error-modal-close-btn:hover {
    background-color: #ff7875;
  } */