.signup-complete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.signup-complete-content {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 400px;
  text-align: center;
}

.signup-complete-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signup-complete-content p {
  margin-bottom: 1.5rem;
}

.signup-complete-buttons {
  display: flex;
  justify-content: center;
}

.signup-complete-login-btn,
.signup-complete-close-btn {
  margin:0 0.5rem 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  cursor: pointer;
}

.signup-complete-login-btn {
  background-color: black;
  color: white;
}

.signup-complete-close-btn {
  background-color: #f5f5f5;
}