.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  padding: 3rem 4rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
}

.modal input {
  width: 50%;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 1rem;
}

.modal p {
  font-size: 1.3rem;
  margin: 1.5rem 0;
}

.modal button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}


.modal h2 {
  margin-top: 0;
}

.modal label {
  display: block;
}

.modal textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  font-size: 16px;
  resize: none;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.review-detail-container {
  display: flex;
  padding: 2rem;
}



.review-detail-content {
  flex: 1;
  padding: 2rem 5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-detail-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.review-detail-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.review-detail-user-info {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
}

.review-detail-body {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 1.5rem;
}

.review-detail-body h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.review-detail-body-2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.review-detail-body-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  margin: 1rem 0;
}

.review-detail-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.review-detail-like-btn {
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #333;
  color: white;
  font-size: 0.9rem;
}

.review-detail-comments {
  border-bottom: 1px solid #ddd;
}
.review-detail-comments h2{
  margin: 1rem 0 0.5rem 0.5rem;
}

.review-detail-new-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.review-detail-comment strong {
  font-size: 1rem;
  font-weight: bold;
}

.review-detail-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.review-detail-comment p {
  flex: 1;
  font-size: 1rem;
  color: #555;
  margin-left: 1rem;
}

.review-detail-delete-comment-btn {
  background-color: #ff6666;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
}

.review-detail-report-comment-btn {
  background-color: #ddd;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.review-detail-new-comment {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.review-detail-new-comment-writer {
  margin: 0 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.review-detail-new-comment input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.review-detail-new-comment button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #333;
  color: white;
}