/* 헤더 전체 스타일 */
.header {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 100%;
  position: sticky; /* 스크롤할 때 헤더가 항상 상단에 고정되도록 설정 */
  top: 0;
  z-index: 10; /* 헤더가 다른 요소 위에 표시되도록 설정 */
}

/* 내비게이션 스타일 */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

/* 로고 스타일 */
.logo,
.logo-admin {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.logo-admin a {
  color: red;
}

/* 메뉴 스타일 */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1rem;
}

/* 링크 스타일 */
.nav-menu li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav-menu li a:hover {
  color: #666;
  font-weight: lighter;
}

/* 인증 버튼 섹션 */
.nav-auth-buttons {
  margin-left: 3rem;
  display: flex;
  gap: 1rem;
}

/* 로그인 및 로그아웃 버튼 스타일 */
.header-login-btn,
.header-logout-btn {
  padding: 0 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: #fff;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.header-login-btn {
  width: 4.5rem;
  height: 2rem;
  line-height: 2rem;
}

.header-logout-btn {
  width: 5.5rem;
  height: 2.3rem;
  line-height: 2.1rem;
}

/* 회원가입 버튼 스타일 */
.header-signup-btn {
  padding: 0 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background-color: black;
  cursor: pointer;
  width: 4.5rem;
  height: 2rem;
  color: white;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* 호버 효과 */
.header-signup-btn:hover {
  background-color: #333;
}

.header-login-btn:hover,
.header-logout-btn:hover {
  background-color: #9e9e9e;
}
